@model List<SitemaUnicesumar.Models.LaboratoryReserveViewModel>

@{
    ViewBag.Title = "Minhas Reservas";
    var animateLoad = "https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js";
}

@using SitemaUnicesumar.Enum
@using SitemaUnicesumar.Helpers;

<div class="card">
    <h4 class="text-title">Suas Reservas</h4>
    @if (Model.Count > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="th-text" scope="col">Laboratório</th>
                    <th class="th-text" scope="col">Bloco</th>
                    <th class="th-text" scope="col">Turma</th>
                    <th class="th-text" scope="col">Tipo de Reserva</th>
                    <th class="th-text text-center" scope="col">Dt. Agendamento</th>
                    <th class="th-text text-center" scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="td-text">@item.LaboratoryName</td>
                        <td class="td-text">@item.LaboratoryBlockName</td>
                        <td class="td-text">@item.ClassTitle</td>
                        <td class="td-text">@LayoutHelper.GetEnumDescription(item.TypeReserveId)</td>
                        @if (item.TypeReserveId == ETypeReserve.Simple)
                        {
                            <td class="td-text text-center">@item.StrDate</td>
                        }
                        else if (item.TypeReserveId == ETypeReserve.Recorrent)
                        {
                            <td class="td-text text-center">@item.StrDateStart</td>
                        }
                        <td class="text-center td-text">
                            <a class="view-reserve" data-toggle="modal" data-target="#modal-view" href="#" data-id="@item.Id"><img style="width: 26px; margin-right: 14px; margin-bottom:4px" src="~/Assets/Images/eye2.svg" /></a>
                            <a class="cancel-reserve" data-toggle="modal" data-target="#modal-cancel" href="#" data-id="@item.Id"><img style="width:19px; margin-bottom:4px" src="~/Assets/Images/cancel.svg" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-list">
            <h5>Não há reservas feitas...</h5>
        </div>
    }
</div>

<div class="modal fade" id="modal-view" tabindex="-1" role="dialog" aria-labelledby="modal-view">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title-modal">Detalhes da Reserva</h5>
            </div>
            <div class="modal-body modal-details">
                <div id="load-modal" class="animate-position-modal" style="display:none">
                    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_OnXSmN.json" background="transparent" speed="0.8" style="width: 300px; height: 200px;" loop autoplay> </lottie-player>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-padding btn-close" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("CancelReserve", "MyReservations", FormMethod.Post))
{
    <div class="modal fade" id="modal-cancel" tabindex="-1" role="dialog" aria-labelledby="modal-cancel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title title-modal">Cancelar Reserva</h5>
                </div>
                <div class="modal-body modal-body-cancel">
                    <div id="load-modal" class="animate-position-modal" style="display:none">
                        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_OnXSmN.json" background="transparent" speed="0.8" style="width: 168px; height: 150px;" loop autoplay> </lottie-player>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-padding btn-close" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-danger btn-padding">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/Pages/my-reservations.js"></script>
    <script src="@animateLoad"></script>

}